In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a = [1, 2.0, '3']

In [ ]:
np.array(object = a)

In [ ]:
sr = pd.Series(data = a)
sr

In [ ]:
for i in sr:
    print(type(i))

In [ ]:
sr.index = ['a', 'b', 'c']
sr

In [ ]:
sr.iloc[0]

In [ ]:
sr.iloc[[0]]

In [ ]:
sr.iloc[[0, 2]]

In [ ]:
sr.iloc[0:2]

In [ ]:
sr.loc['a']

In [ ]:
sr.loc[['a']]

In [ ]:
sr.loc[['a', 'c']]

In [ ]:
sr.loc['a':'c']

In [ ]:
sr = sr.astype(float)
sr

In [ ]:
sr >= 1

In [ ]:
(sr >= 1) & (sr < 3)

In [ ]:
sr.loc[sr >= 1]

In [ ]:
sr.iloc[sr >= 1]

In [ ]:
sr[sr >= 1]

In [ ]:
sr.loc[(sr >= 1) & (sr < 3)]

In [ ]:
sr1 = pd.Series(data = range(3), index = range(1, 4))
sr1

In [ ]:
sr3 = sr1

In [ ]:
sr3

In [ ]:
sr3.iloc[0] = 1

In [ ]:
sr3

In [ ]:
sr1

In [ ]:
id(sr1)

In [ ]:
id(sr3)

In [ ]:
sr4 = sr1.copy()

In [ ]:
sr4

In [ ]:
sr4.iloc[0] = 0

In [ ]:
sr4

In [ ]:
sr1

In [ ]:
id(sr1)

In [ ]:
id(sr4)

In [ ]:
b = [[1, 2], [3, 4], [5, 6]]
b

In [ ]:
np.array(object = b)

In [ ]:
df = pd.DataFrame(data = b)
df

In [ ]:
type(df)

In [ ]:
df = pd.DataFrame(data = b, index = range(1, 4), columns = ['A', 'B'])
df

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.values

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.info

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0]]

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[0:2, :]

In [ ]:
df.iloc[:, 0:1]

In [ ]:
df.iloc[:, [1, 0]]

In [ ]:
df.loc[1]

In [ ]:
df.loc[[1]]

In [ ]:
df.loc[1:3]

In [ ]:
df.loc[1:3, :]

In [ ]:
df.loc[:, 'A':'B']

In [ ]:
df.loc[:, ['B', 'A']]

In [ ]:
'I am a boy'

In [ ]:
'I'm a boy'

In [ ]:
'I\'m a boy'

In [ ]:
"I'm a boy"

In [ ]:
'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\data'

In [ ]:
'C:/Users/hdsce/Documents/PythonDataAnalysis1/data'

In [ ]:
r'C:\Users\hdsce\Documents\PythonDataAnalysis1\data'

!pip install chardet
!pip install joblib

In [ ]:
import os
import chardet
import joblib
import numpy as np
import pandas as pd

In [ ]:
os.getcwd()

In [ ]:
os.chdir(path = 'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\data')

In [ ]:
os.getcwd()

In [ ]:
os.chdir(path = '..')

In [ ]:
os.getcwd()

In [ ]:
os.chdir(path = './live')

In [ ]:
os.getcwd()

In [ ]:
os.chdir(path = '../data')

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
for file in os.listdir():
    if '.xlsx' in file:
        print(file)

In [ ]:
[file for file in os.listdir() if '.xlsx' in file]

In [ ]:
fileName = 'APT_Price_Seoul_2020_2022.xlsx'

In [ ]:
pd.read_excel(io = fileName)

In [ ]:
pd.read_excel(io = fileName, 
              sheet_name = '2022년', 
              usecols = range(1, 12), 
              skiprows = 3, 
              thousands = ',')

In [ ]:
%%time
dfs = pd.read_excel(io = fileName, 
                    sheet_name = None, 
                    usecols = range(1, 12), 
                    skiprows = 3, 
                    thousands = ',')

In [ ]:
dfs

In [ ]:
dfs.keys()

In [ ]:
df1 = pd.DataFrame()
for key in dfs.keys():
    df1 = pd.concat(objs = [df1, dfs[key]], axis = 0, ignore_index = True)

In [ ]:
df1.info()

In [ ]:
df1

In [ ]:
%time df1.to_excel('test.xlsx', index = False)

In [ ]:
df1.head()

In [ ]:
df1.head(n = 10)

In [ ]:
df1.tail()

In [ ]:
df1.sample(n = 3, random_state = 20230510)

In [ ]:
fileNames = [file for file in os.listdir() if '.csv' in file and 'Price' in file]
fileNames

In [ ]:
pd.read_csv(fileNames[0])

In [ ]:
with open(file = fileNames[0], mode = 'rb') as file:
    text = file.read()

In [ ]:
text[:100]

In [ ]:
chardet.detect(text[:100])

In [ ]:
pd.read_csv(fileNames[0], encoding = 'CP949')

In [ ]:
pd.read_csv(fileNames[0], 
            encoding = 'CP949', 
            sep = ',', 
            parse_dates = ['거래일'], 
            thousands = ',')

In [ ]:
%%time
df2 = pd.DataFrame()
for fileName in fileNames:
    df = pd.read_csv(fileName, encoding = 'CP949', parse_dates = ['거래일'])
    df2 = pd.concat(objs = [df2, df], ignore_index = True)

In [ ]:
df2.info()

In [ ]:
os.listdir()

In [ ]:
%time df2.to_csv('APT_Price_Seoul_2020_2022.csv', \
                 index = False)

In [ ]:
%time joblib.dump(value = df2, filename = 'test.z')

In [ ]:
%time df3 = joblib.load(filename = 'test.z')

In [ ]:
df4 = pd.read_csv('APT_Price_Seoul_2020_2022.csv')

In [ ]:
joblib.dump(value = [df1, df2, df3, df4], filename = 'testAll.z')

In [ ]:
df5, df6, df7, df8 = joblib.load(filename = 'testAll.z')

In [ ]:
os.remove(files[0])

In [ ]:
files = [file for file in os.listdir() if 'test' in file]

In [ ]:
for file in files:
    os.remove(file)

In [1]:
import os
import chardet
import joblib
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\hdsce\\Documents\\PythonDataAnalysis1\\live'

In [3]:
os.chdir(path = '../data')

In [4]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'NA_Sample.xlsx']

In [5]:
price = pd.read_csv('APT_Price_Seoul_2020_2022.csv')

In [6]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지역코드    139919 non-null  int64
 1   아파트     139919 non-null  object
 2   시도명     139919 non-null  object
 3   시군구     139919 non-null  object
 4   법정동     139919 non-null  object
 5   지번      139879 non-null  object
 6   건축년도    139917 non-null  float64
 7   거래일     139919 non-null  object
 8   전용면적    139919 non-null  float64
 9   층       139919 non-null  int64
 10  거래금액    139919 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 11.7+ MB

In [7]:
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [8]:
price['지역코드']

0         11110
1         11110
2         11110
3         11110
4         11110
          ...
139914    11740
139915    11740
139916    11740
139917    11740
139918    11740
Name: 지역코드, Length: 139919, dtype: int64

In [9]:
price[['지역코드']]

         지역코드
0       11110
1       11110
2       11110
3       11110
4       11110
...       ...
139914  11740
139915  11740
139916  11740
139917  11740
139918  11740

[139919 rows x 1 columns]

In [10]:
price.columns

Index(['지역코드', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층',
       '거래금액'],
      dtype='object')

In [11]:
price[['거래일', '전용면적', '층', '거래금액']]

               거래일    전용면적   층     거래금액
0       2020-01-03  111.97   6  100,000
1       2020-01-02  163.33   2  162,000
2       2020-01-06  109.91  11   88,000
3       2020-01-09  194.43   4  130,000
4       2020-01-20  148.09   8  149,000
...            ...     ...  ..      ...
139914  2022-12-03   59.52   8   53,000
139915  2022-12-06  111.22  10  135,000
139916  2022-12-10   59.64  17   77,000
139917  2022-12-06  208.92  18  145,500
139918  2022-12-29   59.99   7   55,000

[139919 rows x 4 columns]

In [12]:
price['거래일':'거래금액']

TypeError: cannot do slice indexing on RangeIndex with these indexers [거래일] of type str

In [13]:
price.loc[:, '거래일':'거래금액']

               거래일    전용면적   층     거래금액
0       2020-01-03  111.97   6  100,000
1       2020-01-02  163.33   2  162,000
2       2020-01-06  109.91  11   88,000
3       2020-01-09  194.43   4  130,000
4       2020-01-20  148.09   8  149,000
...            ...     ...  ..      ...
139914  2022-12-03   59.52   8   53,000
139915  2022-12-06  111.22  10  135,000
139916  2022-12-10   59.64  17   77,000
139917  2022-12-06  208.92  18  145,500
139918  2022-12-29   59.99   7   55,000

[139919 rows x 4 columns]

In [14]:
price.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [15]:
price.dtypes == 'int64'

지역코드     True
아파트     False
시도명     False
시군구     False
법정동     False
지번      False
건축년도    False
거래일     False
전용면적    False
층        True
거래금액    False
dtype: bool

In [16]:
price.loc[:, price.dtypes == 'int64']

         지역코드   층
0       11110   6
1       11110   2
2       11110  11
3       11110   4
4       11110   8
...       ...  ..
139914  11740   8
139915  11740  10
139916  11740  17
139917  11740  18
139918  11740   7

[139919 rows x 2 columns]

In [17]:
(price.dtypes == 'int64') | (price.dtypes == 'float64')

지역코드     True
아파트     False
시도명     False
시군구     False
법정동     False
지번      False
건축년도     True
거래일     False
전용면적     True
층        True
거래금액    False
dtype: bool

In [18]:
price.loc[:, (price.dtypes == 'int64') | (price.dtypes == 'float64')]

         지역코드    건축년도    전용면적   층
0       11110  2007.0  111.97   6
1       11110  2008.0  163.33   2
2       11110  1994.0  109.91  11
3       11110  2004.0  194.43   4
4       11110  2003.0  148.09   8
...       ...     ...     ...  ..
139914  11740  1998.0   59.52   8
139915  11740  2008.0  111.22  10
139916  11740  2000.0   59.64  17
139917  11740  1996.0  208.92  18
139918  11740  2020.0   59.99   7

[139919 rows x 4 columns]

In [22]:
price.dtypes

지역코드      int64
아파트      object
시도명      object
시군구      object
법정동      object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [21]:
price.dtypes.isin(values = ['int64', 'float64'])

지역코드    False
아파트     False
시도명     False
시군구     False
법정동     False
지번      False
건축년도    False
거래일     False
전용면적    False
층       False
거래금액    False
dtype: bool

In [19]:
price.dtypes.astype(str).isin(values = ['int64', 'float64'])

지역코드     True
아파트     False
시도명     False
시군구     False
법정동     False
지번      False
건축년도     True
거래일     False
전용면적     True
층        True
거래금액    False
dtype: bool

In [20]:
price.loc[:, price.dtypes.astype(str).isin(values = ['int64', 'float64'])]

         지역코드    건축년도    전용면적   층
0       11110  2007.0  111.97   6
1       11110  2008.0  163.33   2
2       11110  1994.0  109.91  11
3       11110  2004.0  194.43   4
4       11110  2003.0  148.09   8
...       ...     ...     ...  ..
139914  11740  1998.0   59.52   8
139915  11740  2008.0  111.22  10
139916  11740  2000.0   59.64  17
139917  11740  1996.0  208.92  18
139918  11740  2020.0   59.99   7

[139919 rows x 4 columns]

In [23]:
pd.__version__

'2.0.1'

In [24]:
price.columns

Index(['지역코드', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층',
       '거래금액'],
      dtype='object')

In [25]:
price.columns.str.contains(pat = '거래')

array([False, False, False, False, False, False, False,  True, False,
       False,  True])

In [28]:
df = pd.DataFrame(columns = ['매출액', '영업수익', '영업비용', '영업이익', '당기순이익'])

In [29]:
df

Empty DataFrame
Columns: [매출액, 영업수익, 영업비용, 영업이익, 당기순이익]
Index: []

In [32]:
df.loc[:, df.columns.str.contains(pat = '영업')]

Empty DataFrame
Columns: [영업수익, 영업비용, 영업이익]
Index: []

In [33]:
price.drop(columns = ['지역코드'])

,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,"53,000"
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,"135,000"
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,"77,000"
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,"145,500"
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,"55,000"

In [34]:
price.head()

,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,11110,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,11110,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,11110,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,11110,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,11110,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [35]:
price = price.drop(columns = ['지역코드'])

In [41]:
?price.drop

In [39]:
import sys

In [40]:
sys.version

'3.11.3 (tags/v3.11.3:f3909b8, Apr  4 2023, 23:49:59) [MSC v.1934 64 bit (AMD64)]'

In [36]:
price.head()

,아파트,시도명,시군구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [42]:
price.rename(columns = {'시도명': '시', '시군구': '구'})

,아파트,시,구,법정동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,"53,000"
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,"135,000"
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,"77,000"
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,"145,500"
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,"55,000"

In [43]:
price.columns

Index(['아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '거래일', '전용면적', '층', '거래금액'], dtype='object')

In [44]:
price.columns = ['아파트', '시', '구', '동', '지번', 
                 '건축년도', '거래일', '전용면적', '층', '거래금액']

In [45]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,"100,000"
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,"162,000"
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,"88,000"
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,"130,000"
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,"149,000"

In [46]:
price.dtypes

아파트      object
시        object
구        object
동        object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액     object
dtype: object

In [47]:
price['거래금액'].astype(float)

ValueError: could not convert string to float: '100,000'

In [50]:
price['거래금액'] = price['거래금액'].str.replace(',', '').astype(float)

In [51]:
price.dtypes

아파트      object
시        object
구        object
동        object
지번       object
건축년도    float64
거래일      object
전용면적    float64
층         int64
거래금액    float64
dtype: object

In [52]:
price['건축년도'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [53]:
price = price.astype(dtype = {'거래일': 'datetime64[ns]', '층': float})

In [54]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도           float64
거래일     datetime64[ns]
전용면적           float64
층              float64
거래금액           float64
dtype: object

In [55]:
cols = ['층', '거래금액']
price[cols]

           층      거래금액
0        6.0  100000.0
1        2.0  162000.0
2       11.0   88000.0
3        4.0  130000.0
4        8.0  149000.0
...      ...       ...
139914   8.0   53000.0
139915  10.0  135000.0
139916  17.0   77000.0
139917  18.0  145500.0
139918   7.0   55000.0

[139919 rows x 2 columns]

In [58]:
price[cols] = price[cols].astype('int64')

In [59]:
price.dtypes

아파트             object
시               object
구               object
동               object
지번              object
건축년도           float64
거래일     datetime64[ns]
전용면적           float64
층                int64
거래금액             int64
dtype: object

In [60]:
birth = pd.Series(data = ['2000년 1월 1일'])
birth

0    2000년 1월 1일
dtype: object

In [61]:
birth.astype('datetime64[ns]')

DateParseError: Unknown datetime string format, unable to parse: 2000년 1월 1일, at position 0

In [62]:
birth = pd.to_datetime(arg = birth, format = '%Y년 %m월 %d일')
birth

0   2000-01-01
dtype: datetime64[ns]

In [63]:
birth.iloc[0]

Timestamp('2000-01-01 00:00:00')

In [64]:
birth.iloc[0].timestamp()

946684800.0

In [65]:
today = pd.Timestamp.today()
today

Timestamp('2023-05-10 14:32:32.906113')

In [66]:
dtGap = today - birth.iloc[0]
dtGap

Timedelta('8530 days 14:32:32.906113')

In [69]:
dtGap.days * 3 * 7000

179130000

In [72]:
birth = pd.Series(data = ['1964년 12월 31일'])
birth = pd.to_datetime(arg = birth, format = '%Y년 %m월 %d일')
birth.iloc[0].timestamp()

-157852800.0

In [73]:
price['거래일'].dt.year

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
139914    2022
139915    2022
139916    2022
139917    2022
139918    2022
Name: 거래일, Length: 139919, dtype: int32

In [74]:
price['거래일'].dt.month

0          1
1          1
2          1
3          1
4          1
          ..
139914    12
139915    12
139916    12
139917    12
139918    12
Name: 거래일, Length: 139919, dtype: int32

In [75]:
price['거래일'].dt.day

0          3
1          2
2          6
3          9
4         20
          ..
139914     3
139915     6
139916    10
139917     6
139918    29
Name: 거래일, Length: 139919, dtype: int32

In [76]:
price['거래일'].dt.day_name()

0           Friday
1         Thursday
2           Monday
3         Thursday
4           Monday
            ...
139914    Saturday
139915     Tuesday
139916    Saturday
139917     Tuesday
139918    Thursday
Name: 거래일, Length: 139919, dtype: object

In [77]:
price['거래일'].dt.day_name(locale = 'ko_KR')

0         금요일
1         목요일
2         월요일
3         목요일
4         월요일
         ...
139914    토요일
139915    화요일
139916    토요일
139917    화요일
139918    목요일
Name: 거래일, Length: 139919, dtype: object

In [82]:
price['거래일'].dt.strftime(date_format = '%Y년 %m월 %d일 %A')

0           2020년 01월 03일 Friday
1         2020년 01월 02일 Thursday
2           2020년 01월 06일 Monday
3         2020년 01월 09일 Thursday
4           2020년 01월 20일 Monday
                   ...
139914    2022년 12월 03일 Saturday
139915     2022년 12월 06일 Tuesday
139916    2022년 12월 10일 Saturday
139917     2022년 12월 06일 Tuesday
139918    2022년 12월 29일 Thursday
Name: 거래일, Length: 139919, dtype: object

In [83]:
df1 = price[price['거래금액'] >= 1200000]
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [84]:
df2 = price[(price['거래금액'] < 1200000) & (price['층'] >= 65)]
df2

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
50867,현대하이페리온,서울특별시,양천구,목동,916,2003.0,2020-07-03,154.050,66,240000
55000,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-07-25,235.740,67,542500
69573,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2020-10-27,185.622,66,380000
110650,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004.0,2021-06-24,214.967,66,458000

In [86]:
price['층'].gt(65).sum()

4

In [87]:
price['층'].ge(65).sum()

4

In [88]:
price['층'].lt(65).sum()

139915

In [89]:
price['층'].le(65).sum()

139915

In [90]:
price['층'].eq(65).sum()

0

In [91]:
price['층'].ne(65).sum()

139919

In [92]:
(price['거래금액'] < 1200000) & (price['층'] >= 65)
price['거래금액'].lt(1200000) & price['층'].ge(65)

0         False
1         False
2         False
3         False
4         False
          ...
139914    False
139915    False
139916    False
139917    False
139918    False
Length: 139919, dtype: bool

In [96]:
# 구가 '강남구'인 행을 불리언 인덱싱
price[price['구'].eq('강남구')].shape[0]

6723

In [97]:
# 구가 '강남구' 또는 '서초구'인 행을 불리언 인덱싱
price[price['구'].eq('강남구') | price['구'].eq('서초구')].shape[0]

12917

In [98]:
# 구가 '강남구', '서초구' 또는 '송파구'인 행을 불리언 인덱싱
price[price['구'].eq('강남구') | price['구'].eq('서초구') | price['구'].eq('송파구')].shape[0]

20349

In [100]:
price['구']

0         종로구
1         종로구
2         종로구
3         종로구
4         종로구
         ...
139914    강동구
139915    강동구
139916    강동구
139917    강동구
139918    강동구
Name: 구, Length: 139919, dtype: object

In [99]:
price[price['구'].isin(values = ['강남구', '서초구', '송파구'])].shape[0]

20349

In [101]:
price[price['구'].isin(values = ['강남', '서초', '송파'])].shape[0]

0

In [102]:
price[price['구'].str.contains(pat = '강남|서초|송파')].shape[0]

20349

In [103]:
price[price['구'].isin(values = ['강남구', '강서구', '강동구', '강북구'])].shape[0]

26225

In [104]:
price[price['구'].str.contains(pat = '강')].shape[0]

26225

In [124]:
prods = pd.Series(data = ['55-ABC-1', '66-DEFG-2', 'OLED77-XYZABC-3'])
prods

0           55-ABC-1
1          66-DEFG-2
2    OLED77-XYZABC-3
dtype: object

In [125]:
prods.str.extract(pat = '((?<=-).+(?=-))')

        0
0     ABC
1    DEFG
2  XYZABC

In [108]:
prods.str.replace(' ', '-')

0        55ABC-1
1        66DEF-2
2    OLED77XYZ-3
dtype: object

In [112]:
prods.str.split(pat = '-', expand = True)

        0      1
0      55  ABC 1
1      66  DEF 2
2  OLED77  XYZ 3

In [114]:
prods.str.slice(start = 0, stop = 2)

0    55
1    66
2    OL
dtype: object

In [118]:
prods.str.extract(pat = '([0-9]+)')

    0
0  55
1  66
2  77

In [119]:
prods.str.extract(pat = '((?<=OLED)[0-9]+)')

     0
0  NaN
1  NaN
2   77

In [120]:
tels = pd.Series(data = ['02-345-6789', '010-2345-6789', '010 3456 7890'])

In [123]:
tels.str.extract(pat = '(010-.+)')

               0
0            NaN
1  010-2345-6789
2            NaN

In [126]:
df1.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [127]:
df1.drop(index = [126596, 131285])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [128]:
df1.index

Index([126596, 131285, 132781, 137420], dtype='int64')

In [129]:
df1.index[0:2]

Index([126596, 131285], dtype='int64')

In [130]:
df1.drop(index = df1.index[0:2])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [131]:
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [132]:
df1.reset_index()

,index,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,126596,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,131285,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,132781,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,137420,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [133]:
df1.reset_index().drop(columns = ['index'])

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [134]:
df1.reset_index(drop = True)

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [135]:
df1 = df1.reset_index(drop = True)
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [137]:
df1 = df1.set_index(keys = ['아파트'])
df1

               시    구      동       지번    건축년도        거래일     전용면적   층     거래금액
아파트
파르크한남      서울특별시  용산구    한남동      410  2020.0 2021-12-13  268.950   2  1200000
파르크한남      서울특별시  용산구    한남동      410  2020.0 2022-04-30  268.670   5  1350000
PH129      서울특별시  강남구    청담동      129  2020.0 2022-04-28  273.960  16  1450000
아크로서울포레스트  서울특별시  성동구  성수동1가  685-700  2020.0 2022-09-30  264.546  47  1300000

In [140]:
df1 = df1.reset_index()
df1

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,파르크한남,서울특별시,용산구,한남동,410,2020.0,2021-12-13,268.950,2,1200000
1,파르크한남,서울특별시,용산구,한남동,410,2020.0,2022-04-30,268.670,5,1350000
2,PH129,서울특별시,강남구,청담동,129,2020.0,2022-04-28,273.960,16,1450000
3,아크로서울포레스트,서울특별시,성동구,성수동1가,685-700,2020.0,2022-09-30,264.546,47,1300000

In [141]:
price.isna()

          아파트      시      구      동     지번   건축년도    거래일   전용면적      층   거래금액
0       False  False  False  False  False  False  False  False  False  False
1       False  False  False  False  False  False  False  False  False  False
2       False  False  False  False  False  False  False  False  False  False
3       False  False  False  False  False  False  False  False  False  False
4       False  False  False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
139914  False  False  False  False  False  False  False  False  False  False
139915  False  False  False  False  False  False  False  False  False  False
139916  False  False  False  False  False  False  False  False  False  False
139917  False  False  False  False  False  False  False  False  False  False
139918  False  False  False  False  False  False  False  False  False  False

[139919 rows x 10 columns]

In [142]:
price.isna().sum()

아파트      0
시        0
구        0
동        0
지번      40
건축년도     2
거래일      0
전용면적     0
층        0
거래금액     0
dtype: int64

In [143]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139919 entries, 0 to 139918
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   아파트     139919 non-null  object
 1   시       139919 non-null  object
 2   구       139919 non-null  object
 3   동       139919 non-null  object
 4   지번      139879 non-null  object
 5   건축년도    139917 non-null  float64
 6   거래일     139919 non-null  datetime64[ns]
 7   전용면적    139919 non-null  float64
 8   층       139919 non-null  int64
 9   거래금액    139919 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 10.7+ MB

In [144]:
price['지번'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
139914    False
139915    False
139916    False
139917    False
139918    False
Name: 지번, Length: 139919, dtype: bool

In [145]:
price[price['지번'].isna()]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
5817,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-01-20,84.99,3,141000
5818,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-01-23,84.95,1,132000
13920,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-02-08,59.21,13,105000
13925,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-02-22,114.90,1,147300
19081,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-03-07,84.48,20,126500
42068,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-06-13,84.48,14,130000
42079,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-06-30,84.87,14,130000
54592,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-05,84.48,14,134000
54593,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-05,84.48,14,134000
54595,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-06,84.87,15,133000
54603,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-11,84.48,5,130000
54605,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-07-12,59.21,11,115000
54621,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-09,84.95,4,145000
54625,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-18,84.95,8,148000
54628,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-07-27,101.90,3,163000
60635,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-08-06,59.09,14,124000
60646,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-08-26,114.90,5,194000
60647,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-08-29,114.90,9,193000
69376,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-10-06,84.95,1,155000
75432,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-11-06,59.09,5,125000
75437,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-11-18,84.95,9,159000
82968,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2020-12-05,84.87,17,155000
82972,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2020-12-03,84.95,6,158000
89342,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-01-12,84.48,8,160000
97584,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-03-02,84.48,11,159000
97585,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-03-11,84.95,2,163000
101262,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-06,84.48,21,154500
101263,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-10,59.21,2,135000
101264,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-04-20,84.87,14,155000
101270,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-04-15,101.90,4,187500
101272,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-04-27,101.90,3,184500
106151,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-05-16,59.21,8,131000
106152,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-05-18,84.87,1,151000
106156,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-05-26,84.95,4,165000
115150,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2021-07-26,84.99,7,182000
124735,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-10-13,84.87,10,178000
126288,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2021-11-11,84.41,9,160000
129553,서초포레스타2단지,서울특별시,서초구,내곡동,NaN,2015.0,2022-02-05,84.87,10,175000
135816,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2022-06-23,101.90,5,204000
137927,힐스테이트 서초 젠트리스,서울특별시,서초구,신원동,NaN,2014.0,2022-09-28,84.95,8,173000

In [147]:
price.loc[price['아파트'].eq('서초포레스타2단지'), '지번'] = '384'

In [148]:
price.loc[price['아파트'].eq('힐스테이트 서초 젠트리스'), '지번'] = '557'

In [149]:
price.isna().sum()

아파트     0
시       0
구       0
동       0
지번      0
건축년도    2
거래일     0
전용면적    0
층       0
거래금액    0
dtype: int64

In [150]:
price[price['건축년도'].isna()]

              아파트      시    구    동  지번  건축년도        거래일   전용면적  층    거래금액
128072  DMCSKVIEW  서울특별시  은평구  수색동  30   NaN 2022-01-28  84.99  7  140000
129140  DMCSKVIEW  서울특별시  은평구  수색동  30   NaN 2022-02-10  84.99  6  137000

In [151]:
price[price['건축년도'].isna()].fillna(value = 9999)

              아파트      시    구    동  지번    건축년도        거래일   전용면적  층    거래금액
128072  DMCSKVIEW  서울특별시  은평구  수색동  30  9999.0 2022-01-28  84.99  7  140000
129140  DMCSKVIEW  서울특별시  은평구  수색동  30  9999.0 2022-02-10  84.99  6  137000

In [152]:
os.listdir()

['APT_Detail_Seoul_2022.csv',
 'APT_Detail_Seoul_2022.xlsx',
 'APT_Merged.csv',
 'APT_Merged.xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2020_2022.csv',
 'APT_Price_Seoul_2020_2022.xlsx',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'NA_Sample.xlsx']

In [153]:
na = pd.read_excel('NA_Sample.xlsx')

In [154]:
na

    구분 항목    값
0    A  a  1.2
1  NaN  b  2.3
2  NaN  c  3.5
3    B  a  1.7
4  NaN  b  2.6
5  NaN  c  3.6

In [155]:
na.fillna(method = 'ffill')

  구분 항목    값
0  A  a  1.2
1  A  b  2.3
2  A  c  3.5
3  B  a  1.7
4  B  b  2.6
5  B  c  3.6

In [156]:
na.fillna(method = 'bfill')

    구분 항목    값
0    A  a  1.2
1    B  b  2.3
2    B  c  3.5
3    B  a  1.7
4  NaN  b  2.6
5  NaN  c  3.6

In [158]:
price[~price['건축년도'].isna()]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [159]:
price[price['건축년도'].notna()]

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000
...,...,...,...,...,...,...,...,...,...,...
139914,중앙하이츠,서울특별시,강동구,암사동,493-14,1998.0,2022-12-03,59.52,8,53000
139915,롯데캐슬퍼스트,서울특별시,강동구,암사동,414-2,2008.0,2022-12-06,111.22,10,135000
139916,선사현대아파트,서울특별시,강동구,암사동,509,2000.0,2022-12-10,59.64,17,77000
139917,파크뷰진도맨션,서울특별시,강동구,성내동,452-2,1996.0,2022-12-06,208.92,18,145500
139918,강동리버스트4단지,서울특별시,강동구,강일동,114,2020.0,2022-12-29,59.99,7,55000

In [160]:
price = price[price['건축년도'].notna()]

In [161]:
price.shape[0]

139917

In [162]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.0,2020-01-03,111.97,6,100000
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.0,2020-01-02,163.33,2,162000
2,세종로대우,서울특별시,종로구,내수동,167,1994.0,2020-01-06,109.91,11,88000
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.0,2020-01-09,194.43,4,130000
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.0,2020-01-20,148.09,8,149000

In [163]:
price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3

C:\Users\hdsce\AppData\Local\Temp\ipykernel_6464\886309113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['평당금액'] = price['거래금액'] / price['전용면적'] * 3.3

In [165]:
%precision 3

'%.3f'

In [167]:
pd.set_option('display.float_format', lambda x: f'{x:.3f}')

In [168]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.000,2020-01-03,111.970,6,100000,2947.218
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.000,2020-01-02,163.330,2,162000,3273.128
2,세종로대우,서울특별시,종로구,내수동,167,1994.000,2020-01-06,109.910,11,88000,2642.162
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.000,2020-01-09,194.430,4,130000,2206.450
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.000,2020-01-20,148.090,8,149000,3320.278

In [171]:
price['거래금액'] = price['거래금액'] / 10000

C:\Users\hdsce\AppData\Local\Temp\ipykernel_6464\2274852480.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['거래금액'] = price['거래금액'] / 10000

In [172]:
price.head()

,아파트,시,구,동,지번,건축년도,거래일,전용면적,층,거래금액,평당금액
0,신동아블루아광화문의꿈,서울특별시,종로구,필운동,254,2007.000,2020-01-03,111.970,6,10.000,2947.218
1,광화문스페이스본(106동),서울특별시,종로구,사직동,9-1,2008.000,2020-01-02,163.330,2,16.200,3273.128
2,세종로대우,서울특별시,종로구,내수동,167,1994.000,2020-01-06,109.910,11,8.800,2642.162
3,킹스매너,서울특별시,종로구,내수동,110-15,2004.000,2020-01-09,194.430,4,13.000,2206.450
4,경희궁파크팰리스,서울특별시,종로구,내수동,95,2003.000,2020-01-20,148.090,8,14.900,3320.278

In [173]:
joblib.dump(value = [price, df1, df2], filename = 'APT_Price_Prep.z')

['APT_Price_Prep.z']